@import 'vars';

.experience{
    padding: 10px 20px 15px 20px;
    min-height: 750px;
    width: calc(100% - 60px);

    h2{
        display: block;
        max-width: 1000px;
        height: 130px;
        line-height: 130px;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        text-align: left;
    }   

    .experience-box{
        max-width: 1000px;
        height: 550px;
        margin: 10px auto 0 auto;
        border-radius: 7px 7px 200px 7px;
        display: grid;
        grid-template-columns: 220px 1fr;
        outline: 2px solid $neon-light-green;
        background:  linear-gradient(to right, $black, black);

        .experience-box-nav{
            list-style: none;

            h4{
                color: $lightest-gray;
                margin-top: 80px;
                margin-bottom: 50px;
                font-size: 17px;
            }

            .experience-btn{
                margin: 30px 0;
                display: grid;
                grid-template-columns: 10px auto;
                column-gap: 25px;
                cursor: pointer;

                &:hover{
                    h5{
                        color: $lightest-gray;
                    }
                }

                &.react-tabs__tab--selected{

                    &:hover{
                        color: $neon-green;
                    }

                    .experience-btn-state{
                        background-color: $neon-green;

                    }

                    h5{
                        color: $neon-green;
                    }
                }
                
                .experience-btn-state{
                    margin-top: 10px;
                    width: 4px;
                    height: 4px;
                    border-radius: 100px;
                    border: 3px solid $light-black;
                    outline: 3px solid $neon-green;
                }

                h5{
                    text-align: left;
                    color: $paper-gray;
                    font-weight: 700;
                    font-size: 17px;
                    padding: 0;
                    margin: 0;
                    line-height: 30px;
                }
            }
        }


        .experience-box-content{ 
            position: relative;

            .experience-box-content-box{
                display: block;
                border-radius: 200px 7px 200px 7px;
                background: black;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;                width: calc(100% + 30px);
                height: calc(100% - 30px);
                position: absolute;
                top: 70px;       
                z-index: 2;    
                outline: 2px solid $neon-light-green;
                position: relative;

                .experience-box-content-panel{

                    h5{
                        position: absolute;
                        top: -45px;
                        right: 120px;
                        background-color: black;
                        padding: 5px 14px;
                        color: $lightest-gray;
                        font-size: 17px;
                        font-weight: 600;
                    }


                    h4{
                        margin: 0;
                        padding: 60px 0 0 120px;
                        text-align: left;
                        font-size: 20px;
                        word-spacing: 3px;
                        line-height: 36px;
                        color: #fff;
                    }

                    p{
                        margin: 0;
                        padding: 30px 40px 40px 120px;
                        font-size: 16px;
                        word-spacing: 3px;
                        line-height: 36px;
                        color: $paper-gray;
                    }
                }
            }

            .gn-ball-r{
                position: absolute;
                right: -25px;
                bottom: -25px;
                height: 150px; 
                width: 150px; 
                border-radius: 100%;
                background: $neon-green;
                opacity: 0.8;
                box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
                border: 15px solid $light-black;
                outline: 4px solid $neon-green;
                z-index: 1;
            }

            .curve{
                display: block;
                position: absolute;
                left: -60px;
                top: 20px;
                z-index: 1;
                width: 590px;
                opacity: 0.6;
            }
        }
    }
}