@import "vars";

.footer{
    height: 100px;
    margin-top: 50px;
    background: black;

    .footer-wrapper{
        display: grid;
        grid-template-columns: auto 1fr auto 1fr;
        max-width: 230px;
        margin: 0 auto;
        column-gap: 5px;

        span{
            color: $paper-gray;
            text-align: left;
            line-height: 100px;
        }

        svg{
            line-height: 100px;
            width: 15px;
            display: block;
            margin:  44px auto 0 auto;
            text-align: center;

            &:first-of-type{
                color: rgb(219, 67, 67);
            }
        }

        img{
            display: block;
            margin:  44px auto 0 auto;
            width: 15px;
        }

        a{
            img{
                margin:  46px auto 0 auto;
            }
        }

    }
}