@import "vars";

html{
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
}

body{  
    font-family: 'Lato', sans-serif;
    background: $dark-gray;  
    padding: 0;
    margin: 0;
      
    .App{   
        @import "navbar";   

        @import "introduction";   

        @import "about_me"; 

        @import "teches"; 

        @import "services"; 

        @import "experience"; 
    }
}  