@import "vars";

.introduction{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1130px;
    width: calc(100% - 60px);
    margin: 0 auto; 
    position: relative;
    padding: 0 30px;
    
    @media only screen and (max-width: 1050px) {
        grid-template-columns: 1fr;
        width: calc(100% - 60px);
    }
    
    .introduction-left{
        padding-top: 80px;
        display: grid;
        grid-template-rows: 40px 60px 60px auto 1fr auto;

        @media only screen and (max-width: 1050px) {
            margin: 0 auto; 
            max-width: 1000px; 
        }

        .tag{
            display: block;
            width: 148px;
            text-align: center;
            background-color: $neon-green;
            color: #fff;
            padding: 0 6px;
            height: 30px;
            border-radius: 4px;
            line-height: 30px;
        }

        h2{
            margin-top: 10px; 
            margin-bottom: 0;
            color: #fff;
            font-size: 33px;

            &:first-of-type{
                margin-top: 25px;
            }
        }

        p{
            padding: 10px 0 0 0;
            font-size: 16px;
            max-width: 500px;
            word-spacing: 3px;
            line-height: 36px;
            color: $light-gray;

            @media only screen and (max-width: 1050px) {
                max-width: 800px; 
            }
        }

        a{
            padding: 30px 0 0 0;
            text-decoration: underline;
            color: $neon-green;
            font-size: 18px;
            text-align: left;
        }

        .counter{

            .counter-referrals{
                width: auto;
                height: 200px;
                display: grid;
                grid-template-columns: auto 1fr;
                float: left;
                
                h4{
                    height: 200px;
                    margin: 0; 
                    padding: 0;
                    line-height: 200px;
                    font-size: 15px;
                    font-weight: 400;
                    color: $light-gray;
                }

                .counter-referrals-number{
                    height: 200px;
                    display: block;
                    line-height: 197px;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 0 0 0 10px;
                    color: #fff;
                }
            }

            .counter-experience{
                width: auto;
                height: 200px;
                display: grid;
                grid-template-columns: auto 1fr;
                float: left;
                padding-left: 35px;

                h4{
                    height: 200px;
                    margin: 0; 
                    padding: 0;
                    line-height: 200px;
                    font-size: 15px;
                    font-weight: 400;
                    color: $light-gray;
                }

                .counter-experience-number{
                    height: 200px;
                    display: block;
                    line-height: 197px;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 0 0 0 10px;
                    color: #fff;
                }
            }
        }
    }

    .introduction-right{
        position: relative;
        transform: scale(0.8);
        width: 100%;
        
        @media only screen and (max-width: 1350px) {
            transform: scale(0.7);
            margin-right: 200px;
        }

        @media only screen and (max-width: 1250px) {
            margin-right: 400px;
        }

        @media only screen and (max-width: 1150px) {
            margin-right: 500px;
        }

        @media only screen and (max-width: 1050px) {
            display: none;
        }

        .rocket{    
            display: block;
            z-index: -1;
            transform: rotate(60deg);
            position: absolute;
            right: 205px;
            top: 95px;
            width: 180px;
        }

        .arrow{    
            display: block;
            z-index: -1;
            transform: rotate(0deg);
            position: absolute;
            right: -220px;
            bottom: -100px;
            width: 800px;
            height: 450px;

        }
    
        .circle-large{
            z-index: -2;
            position: absolute;
            //border: 0.5px solid $neon-light-green;
            right: -110px;
            bottom: -35px;
            width: 600px; 
            height: 600px; 
            border-radius: 100%;
            background: linear-gradient( to right bottom, transparent, $black);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
        }

        .circle-small-gn-c{
            position: absolute;
            right: 260px;
            top: 415px;
            width: 6px; 
            height: 6px; 
            border-radius: 100%;
            background: $neon-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        }

        .circle-small-gn-cc{
            position: absolute;
            right: 60px;
            top: 275px;
            width: 7px; 
            height: 7px; 
            border-radius: 100%;
            background: $neon-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
            border: 5px solid $light-black;
            outline: 1px solid $neon-green;
        }
 
        .circle-small-gn-t{
            position: absolute;
            right: -50px;
            top: 80px;
            width: 2px; 
            height: 2px; 
            border-radius: 100%;
            background: $neon-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        }
        

        .circle-small-gn-tt{
            position: absolute;
            right: -35px;
            top: 60px;
            width: 5px; 
            height: 5px; 
            border-radius: 100%;
            background: $neon-green;
            opacity: 0.8;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
            border: 3px solid $light-black;
            outline: 1px solid $neon-green;
        }

        .circle-small-gn-ttt{
            position: absolute;
            right: -10px;
            top: 75px;
            width: 3px; 
            height: 3px; 
            border-radius: 100%;
            background: $neon-light-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        }

        .circle-small-gn-b{
            position: absolute;
            right: 525px;
            top: 445px;
            width: 2px; 
            height: 2px; 
            border-radius: 100%;
            background: $neon-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        }

        .circle-small-gn-bb{
            position: absolute;
            right: 505px;
            top: 425px;
            width: 3px; 
            height: 3px; 
            border-radius: 100%;
            background: $neon-light-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        }

        .circle-small-gn-bbb{
            position: absolute;
            right: 455px;
            top: 475px;
            width: 4px; 
            height: 4px; 
            border-radius: 100%;
            background: $neon-green;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;

            border: 3px solid $light-black;
            outline: 1px solid $neon-green;
        }

        .circle-small-bk{
            position: absolute;
            right: 500px;
            top: 460px;
            width: 50px; 
            height: 50px; 
            border-radius: 100%;
            background: $dark-gray;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;

            svg{
                display: block;
                height: 50px;
                line-height: 50px;
                margin: 0 auto;
                color: rgb(214, 88, 88);
                font-size: 15px;
            }
        }

        .circle-mail{
            position: absolute;
            right: 300px;
            top: 400px;
            width: 120px; 
            height: 120px; 
            border-radius: 100%;
            background: $lightest-black;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
            
            svg{
                display: block;
                height: 120px;
                line-height: 120px;
                margin: 0 auto;
                color: $mail;
                font-size: 30px;
                cursor: pointer; 

                &:hover{
                    color: $mail-hover;
                }
            }
        }

        .circle-linkedin{
            position: absolute;
            right: 50px;
            top: 320px;
            width: 150px; 
            height: 150px; 
            border-radius: 100%;
            background: $light-black;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;

            svg{
                display: block;
                height: 150px;
                line-height: 150px;
                margin: 0 auto;
                color: $linkedin;
                font-size: 45px;
                cursor: pointer;

                &:hover{
                    color: $linkedin-hover
                }
            }
        }

        .circle-github{
            position: absolute;
            right: -140px;
            top: 90px;
            width: 190px; 
            height: 190px; 
            border-radius: 100%;
            background: $black;
            box-shadow: rgba(-5px, 0, 0, 0.56) 0px 0px 70px 4px;
            overflow: hidden;

            svg{
                display: block;
                height: 190px;
                line-height: 190px;
                margin: 0 auto;
                color: $github;
                font-size: 55px;
                cursor: pointer;

                &:hover{
                    color: $github-hover;
                }
            }
        }

    }

    .mouse-tag{
        width: 28px;
        height: 35px;
        //border: 1px solid $neon-green;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -17.5px;
        border-radius: 100px;
        background-color: $light-gray;

        svg{
            display: block;
            font-size: 14px; 
            color: $pitch-black;
            font-weight: 400;
            padding-left: 1px;
            margin: 10px auto 0 auto; 
            line-height: 35px;
        }
    }
}