@import "vars";

.navbar{
    max-width: 1170px;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 50px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px;
    padding: 35px 25px 0 15px;   

    .nav-title{
        display: block;
        text-decoration: none;
        position: relative;

        .aka{
            position: absolute;
            top: 45px;
            right: 0;
            font-size: 10px;
            color: $light-gray;
        }

        h2{
            line-height: 50px;
            margin:0;
            padding: 0;
            font-size: 25px;

            span{
                &:first-of-type{
                    font-weight: 600;
                    color: $white;
                    padding-right: 5px;
                } 

                &:last-of-type{
                    font-weight: 500;
                    color: $light-gray;
                }
            }
        }
    }

    .nav-btns{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 35px;

        a{
            line-height: 50px;
            display: block;
            text-decoration: none;
            color: $light-gray;
            font-weight: 600; 
            font-size: 14px;

            &:hover{
                color: $neon-green;
            }

            &:nth-of-type(1) {
                &.nav-btn--active{
                    color: $neon-green;

                    span{
                        display: none;
                    }

                    &::after{
                        content: '< About_Me />';
                    }
                }
            }

            &:nth-of-type(2) {
                &.nav-btn--active{
                    color: $neon-green;

                    span{
                        display: none;
                    }

                    &::after{
                        content: '< Services />';
                    }
                }
            }

            &:nth-of-type(3) {
                &.nav-btn--active{
                    color: $neon-green;

                    span{
                        display: none;
                    }

                    &::after{
                        content: '< Projects />';
                    }
                }
            }
        }
    }
} 