@import "vars";


.services{
    background-color: black;
    display: grid;
    grid-template-rows: auto;
    min-height: 590px !important;
    height: 100% !important;
    overflow: auto;

    .services-wrapper{
        max-width: 1100px;
        width: 100%;
        margin: 0 auto; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;

        @media only screen and (max-width: 780px) {
            grid-template-columns: 1fr;
        }

        .services-left{
            display: grid;
            grid-template-rows: 60px auto;
            padding: 60px 0 0 0;
            row-gap: 20px;
            
            h2{
                margin-top: 10px;
                color: #fff;
                padding-left: 42px;
            }

            .services-btns{
                display: grid;
                grid-template-rows: 100px 100px 100px;
                row-gap: 25px;

                .services-btn{
                    border-radius: 17px;
                    height: 100px;
                    width: 300px;
                    background-color: $gray; 
                    border: 10px solid black;
                    outline: 2px solid transparent;
                    cursor: pointer;

                    @media only screen and (max-width: 780px) {
                        width: calc(100% - 60px);
                    }

                    h4{
                        padding: 20px 0 15px 20px;
                        font-size: 18px;
                        margin: 0;
                        color: $lightest-gray;
                    }

                    span{
                        padding: 20px 0 0 20px;
                        font-size: 16px;
                        margin: 10px 0 0 0; 
                        font-weight: 400;
                        color: $paper-gray;
                    }

                    &.react-tabs__tab--selected{
                        outline: 2px solid $neon-light-green;
                        background-color: $dark-gray;

                        h4{
                            color: $neon-green;
                        }
                    }
                }   
            }
        }


        .services-right{
            padding: 155px 0 0 0;

            @media only screen and (max-width: 780px) {
                display: none;
            }

            .services-content{
                width: calc(100% - 30px);
                height: 370px;
                padding-right: 30px;
                
                .services-content-panel{
                    display: none;
                    position: relative;

                    &.react-tabs__tab-panel--selected{
                        height: 100%;
                        border: 1px solid $neon-green;
                        width: 100%;
                        border-radius: 17px;
                        display: block;
                        //background-color: $dark-gray
                    }
                    
                    h4{
                        color: $lightest-gray;
                        position: absolute;
                        top: -40px;
                        right: 50px;
                        background-color: black;
                        padding: 5px 14px;
                        font-size: 17px;
                        font-weight: 600;
                    }

                    p{
                        color: $paper-gray;
                        margin: 0;
                        padding: 40px 30px 0 30px;
                        font-size: 16px;
                        word-spacing: 3px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
}