
$white: #ffffff;
$light-gray: #b5bac0;
$gray: #222831;
$dark-gray: #1d1f1f;

$lightest-black: #151817;
$light-black: #101412;
$black: #0e1110;
$pitch-black: #070a0a;

$neon-green: #29C7AC; 
$neon-light-green: #29c7ad3f; 

$neon-blue: aqua;


$mail: rgb(72, 190, 56);
$mail-hover: rgb(70, 226, 49);

$github: rgb(215, 223, 228);
$github-hover: #fff;

$linkedin: #1964be;
$linkedin-hover: #177ffd;
//#21E6C1
