@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
html { }

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, #1d1f1f, #1d1f1f, rgba(0, 0, 0, 0.95));
  padding: 0;
  margin: 0;
  overflow-x: hidden; }
  body .App .navbar {
    max-width: 1130px;
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 50px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px;
    padding: 35px 50px 0 30px; }
    @media only screen and (max-width: 480px) {
      body .App .navbar {
        padding: 10px 20px 0 30px;
        width: calc(100% - 50px); } }
    body .App .navbar .nav-title {
      display: block;
      text-decoration: none;
      position: relative; }
      body .App .navbar .nav-title .aka {
        position: absolute;
        top: 45px;
        right: 0;
        font-size: 10px;
        color: #b5bac0; }
      body .App .navbar .nav-title h2 {
        line-height: 50px;
        margin: 0;
        padding: 0;
        font-size: 27px; }
        body .App .navbar .nav-title h2 span:first-of-type {
          font-weight: 600;
          color: #ffffff;
          padding-right: 5px; }
        body .App .navbar .nav-title h2 span:last-of-type {
          font-weight: 500;
          color: #b5bac0; }
    body .App .navbar .nav-btns {
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 35px;
      margin-top: 7px; }
      @media only screen and (max-width: 700px) {
        body .App .navbar .nav-btns {
          grid-template-columns: auto; } }
      body .App .navbar .nav-btns a {
        line-height: 50px;
        display: block;
        text-decoration: none;
        color: #b5bac0;
        font-weight: 600;
        font-size: 14px; }
        body .App .navbar .nav-btns a:hover {
          color: #28b981; }
        @media only screen and (max-width: 700px) {
          body .App .navbar .nav-btns a:nth-of-type(1) {
            display: none; } }
        body .App .navbar .nav-btns a:nth-of-type(1).nav-btn--active {
          color: #28b981; }
          body .App .navbar .nav-btns a:nth-of-type(1).nav-btn--active span {
            display: none; }
          body .App .navbar .nav-btns a:nth-of-type(1).nav-btn--active::after {
            content: '< About_Me />'; }
        @media only screen and (max-width: 700px) {
          body .App .navbar .nav-btns a:nth-of-type(2) {
            display: none; } }
        body .App .navbar .nav-btns a:nth-of-type(2).nav-btn--active {
          color: #28b981; }
          body .App .navbar .nav-btns a:nth-of-type(2).nav-btn--active span {
            display: none; }
          body .App .navbar .nav-btns a:nth-of-type(2).nav-btn--active::after {
            content: '< Services />'; }
        @media only screen and (max-width: 700px) {
          body .App .navbar .nav-btns a:nth-of-type(3) {
            display: none; } }
        body .App .navbar .nav-btns a:nth-of-type(3).nav-btn--active {
          color: #28b981; }
          body .App .navbar .nav-btns a:nth-of-type(3).nav-btn--active span {
            display: none; }
          body .App .navbar .nav-btns a:nth-of-type(3).nav-btn--active::after {
            content: '< Projects />'; }
        @media only screen and (max-width: 700px) {
          body .App .navbar .nav-btns a:nth-of-type(4) {
            font-size: 16px; } }
        body .App .navbar .nav-btns a:nth-of-type(4).nav-btn--active {
          color: #28b981; }
          body .App .navbar .nav-btns a:nth-of-type(4).nav-btn--active span {
            display: none; }
            body .App .navbar .nav-btns a:nth-of-type(4).nav-btn--active span strong {
              font-weight: 900; }
          body .App .navbar .nav-btns a:nth-of-type(4).nav-btn--active::after {
            content: '< Projects />'; }
  body .App .introduction {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1130px;
    width: calc(100% - 60px);
    margin: 0 auto;
    position: relative;
    padding: 0 30px; }
    @media only screen and (max-width: 1050px) {
      body .App .introduction {
        grid-template-columns: 1fr;
        width: calc(100% - 60px); } }
    body .App .introduction .introduction-left {
      padding-top: 80px;
      display: grid;
      grid-template-rows: 40px 60px 60px auto 1fr auto; }
      @media only screen and (max-width: 1050px) {
        body .App .introduction .introduction-left {
          margin: 0 auto;
          max-width: 1000px; } }
      body .App .introduction .introduction-left .tag {
        display: block;
        width: 148px;
        text-align: center;
        background-color: #28b981;
        color: #fff;
        padding: 0 6px;
        height: 30px;
        border-radius: 4px;
        line-height: 30px; }
      body .App .introduction .introduction-left h2 {
        margin-top: 10px;
        margin-bottom: 0;
        color: #fff;
        font-size: 33px; }
        @media only screen and (max-width: 480px) {
          body .App .introduction .introduction-left h2 {
            font-size: 26px; } }
        body .App .introduction .introduction-left h2:first-of-type {
          margin-top: 25px; }
      body .App .introduction .introduction-left p {
        padding: 10px 0 0 0;
        font-size: 16px;
        max-width: 500px;
        word-spacing: 3px;
        line-height: 36px;
        color: #b5bac0; }
        @media only screen and (max-width: 1050px) {
          body .App .introduction .introduction-left p {
            max-width: 800px; } }
      body .App .introduction .introduction-left a {
        padding: 30px 0 0 0;
        text-decoration: underline;
        color: #28b981;
        font-size: 18px;
        text-align: left; }
      body .App .introduction .introduction-left .counter .counter-referrals {
        width: auto;
        height: 200px;
        display: grid;
        grid-template-columns: auto 1fr;
        float: left; }
        @media only screen and (max-width: 480px) {
          body .App .introduction .introduction-left .counter .counter-referrals {
            height: 150px; } }
        body .App .introduction .introduction-left .counter .counter-referrals h4 {
          height: 200px;
          margin: 0;
          padding: 0;
          line-height: 200px;
          font-size: 15px;
          font-weight: 400;
          color: #b5bac0; }
          @media only screen and (max-width: 480px) {
            body .App .introduction .introduction-left .counter .counter-referrals h4 {
              font-size: 14px;
              line-height: 150px; } }
        body .App .introduction .introduction-left .counter .counter-referrals .counter-referrals-number {
          height: 200px;
          display: block;
          line-height: 197px;
          font-size: 15px;
          font-weight: 400;
          padding: 0 0 0 10px;
          color: #fff; }
          @media only screen and (max-width: 480px) {
            body .App .introduction .introduction-left .counter .counter-referrals .counter-referrals-number {
              font-size: 14px;
              line-height: 150px; } }
          @media only screen and (max-width: 480px) {
            body .App .introduction .introduction-left .counter .counter-referrals .counter-referrals-number {
              font-size: 14px; } }
      body .App .introduction .introduction-left .counter .counter-experience {
        width: auto;
        height: 200px;
        display: grid;
        grid-template-columns: auto 1fr;
        float: left;
        padding-left: 35px; }
        body .App .introduction .introduction-left .counter .counter-experience h4 {
          height: 200px;
          margin: 0;
          padding: 0;
          line-height: 200px;
          font-size: 15px;
          font-weight: 400;
          color: #b5bac0; }
          @media only screen and (max-width: 480px) {
            body .App .introduction .introduction-left .counter .counter-experience h4 {
              font-size: 14px;
              line-height: 150px; } }
        body .App .introduction .introduction-left .counter .counter-experience .counter-experience-number {
          height: 200px;
          display: block;
          line-height: 197px;
          font-size: 15px;
          font-weight: 400;
          padding: 0 0 0 10px;
          color: #fff; }
          @media only screen and (max-width: 480px) {
            body .App .introduction .introduction-left .counter .counter-experience .counter-experience-number {
              font-size: 14px;
              line-height: 150px; } }
    body .App .introduction .introduction-right {
      position: relative;
      transform: scale(0.8);
      width: 100%; }
      @media only screen and (max-width: 1350px) {
        body .App .introduction .introduction-right {
          transform: scale(0.7);
          margin-right: 200px; } }
      @media only screen and (max-width: 1250px) {
        body .App .introduction .introduction-right {
          margin-right: 400px; } }
      @media only screen and (max-width: 1150px) {
        body .App .introduction .introduction-right {
          margin-right: 500px; } }
      @media only screen and (max-width: 1050px) {
        body .App .introduction .introduction-right {
          display: none; } }
      body .App .introduction .introduction-right .rocket {
        display: block;
        z-index: -1;
        transform: rotate(60deg);
        position: absolute;
        right: 205px;
        top: 95px;
        width: 180px; }
      body .App .introduction .introduction-right .arrow {
        display: block;
        z-index: -1;
        transform: rotate(0deg);
        position: absolute;
        right: -220px;
        bottom: -100px;
        width: 800px;
        height: 450px; }
      body .App .introduction .introduction-right .circle-large {
        z-index: -2;
        position: absolute;
        right: -110px;
        bottom: -35px;
        width: 600px;
        height: 600px;
        border-radius: 100%;
        background: linear-gradient(to right bottom, transparent, #0e1110);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px; }
      body .App .introduction .introduction-right .circle-small-gn-c {
        position: absolute;
        right: 260px;
        top: 415px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #28b981;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-cc {
        position: absolute;
        right: 60px;
        top: 275px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: #28b981;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        border: 5px solid #101412;
        outline: 1px solid #28b981; }
      body .App .introduction .introduction-right .circle-small-gn-t {
        position: absolute;
        right: -50px;
        top: 80px;
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background: #28b981;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-tt {
        position: absolute;
        right: -35px;
        top: 60px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #28b981;
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        border: 3px solid #101412;
        outline: 1px solid #28b981; }
      body .App .introduction .introduction-right .circle-small-gn-ttt {
        position: absolute;
        right: -10px;
        top: 75px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background: #28b98198;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-b {
        position: absolute;
        right: 525px;
        top: 445px;
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background: #28b981;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-bb {
        position: absolute;
        right: 505px;
        top: 425px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background: #28b98198;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-bbb {
        position: absolute;
        right: 455px;
        top: 475px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #28b981;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        border: 3px solid #101412;
        outline: 1px solid #28b981; }
      body .App .introduction .introduction-right .circle-small-bk {
        position: absolute;
        right: 500px;
        top: 460px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #1d1f1f;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
        body .App .introduction .introduction-right .circle-small-bk svg {
          display: block;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          color: #d65858;
          font-size: 15px; }
      body .App .introduction .introduction-right .circle-mail {
        position: absolute;
        right: 300px;
        top: 400px;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: #151817;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
        body .App .introduction .introduction-right .circle-mail svg {
          display: block;
          height: 120px;
          line-height: 120px;
          margin: 0 auto;
          color: #48be38;
          font-size: 30px;
          cursor: pointer; }
          body .App .introduction .introduction-right .circle-mail svg:hover {
            color: #46e231; }
      body .App .introduction .introduction-right .circle-linkedin {
        position: absolute;
        right: 50px;
        top: 320px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: #101412;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
        body .App .introduction .introduction-right .circle-linkedin svg {
          display: block;
          height: 150px;
          line-height: 150px;
          margin: 0 auto;
          color: #1964be;
          font-size: 45px;
          cursor: pointer; }
          body .App .introduction .introduction-right .circle-linkedin svg:hover {
            color: #177ffd; }
      body .App .introduction .introduction-right .circle-github {
        position: absolute;
        right: -140px;
        top: 90px;
        width: 190px;
        height: 190px;
        border-radius: 100%;
        background: #0e1110;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        overflow: hidden; }
        body .App .introduction .introduction-right .circle-github svg {
          display: block;
          height: 190px;
          line-height: 190px;
          margin: 0 auto;
          color: #d7dfe4;
          font-size: 55px;
          cursor: pointer; }
          body .App .introduction .introduction-right .circle-github svg:hover {
            color: #fff; }
    body .App .introduction .mouse-tag {
      width: 28px;
      height: 35px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -17.5px;
      border-radius: 100px;
      background-color: #b5bac0; }
      body .App .introduction .mouse-tag svg {
        display: block;
        font-size: 14px;
        color: #070a0a;
        font-weight: 400;
        padding-left: 1px;
        margin: 10px auto 0 auto;
        line-height: 35px; }
  body .App .about-me {
    min-height: 540px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; }
    @media only screen and (max-width: 1000px) {
      body .App .about-me {
        grid-template-columns: 1fr;
        height: auto;
        min-height: 300px;
        padding-bottom: 60px; } }
    body .App .about-me .about-me-left {
      padding-left: 30px; }
      @media only screen and (max-width: 1000px) {
        body .App .about-me .about-me-left {
          display: none; } }
      body .App .about-me .about-me-left .img-wrapper {
        display: block;
        margin: 135px auto 0 auto;
        width: 230px;
        height: 230px;
        overflow: hidden;
        border: 15px solid transparent;
        outline: 2px solid #28b98198;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
        position: relative; }
        body .App .about-me .about-me-left .img-wrapper img {
          display: block;
          height: 230px;
          width: 230px;
          background: transparent;
          border-radius: 7px; }
        body .App .about-me .about-me-left .img-wrapper .img-overley {
          background: #04850a;
          opacity: 0.05;
          display: block;
          height: 230px;
          width: 230px;
          border-radius: 7px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; }
    body .App .about-me .about-me-right {
      display: grid;
      grid-template-rows: 60px auto auto auto 1fr;
      padding: 75px 0 0 20px;
      row-gap: 20px; }
      body .App .about-me .about-me-right h2 {
        color: #fff; }
        @media only screen and (max-width: 1000px) {
          body .App .about-me .about-me-right h2 {
            max-width: 900px;
            padding: 0 20px; } }
      body .App .about-me .about-me-right .about-me-paragraph {
        margin: 0;
        padding: 0;
        font-size: 16px;
        max-width: 550px;
        word-spacing: 3px;
        line-height: 36px;
        color: #8a9097;
        padding: 0 60px 0 0; }
        @media only screen and (max-width: 1000px) {
          body .App .about-me .about-me-right .about-me-paragraph {
            max-width: 900px;
            padding: 0 20px; } }
  body .App .teches {
    display: block;
    padding: 10px 30px 15px 0;
    height: 100%;
    min-height: 80px;
    width: calc(100%-30px);
    overflow: auto; }
    body .App .teches .teches-wrapper {
      display: block;
      max-width: 1040px;
      width: calc(100% - 30px);
      height: auto;
      margin: 0 auto;
      overflow: auto; }
      body .App .teches .teches-wrapper .tech {
        float: left;
        display: grid;
        grid-template-rows: 55px 20px;
        width: 60px;
        margin: 0 27.5px; }
        body .App .teches .teches-wrapper .tech img {
          margin: 17.5px;
          height: 35px;
          width: 35px; }
        body .App .teches .teches-wrapper .tech span {
          font-size: 11px;
          color: #b5bac0;
          text-align: center;
          font-weight: 400;
          line-height: 26px; }
  body .App .services {
    background-color: black;
    display: grid;
    grid-template-rows: auto;
    min-height: 590px !important;
    height: 100% !important;
    overflow: auto; }
    body .App .services .services-wrapper {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 20px; }
      @media only screen and (max-width: 780px) {
        body .App .services .services-wrapper {
          grid-template-columns: 1fr; } }
      body .App .services .services-wrapper .services-left {
        display: grid;
        grid-template-rows: 60px auto;
        padding: 60px 0 0 0;
        row-gap: 20px; }
        body .App .services .services-wrapper .services-left h2 {
          margin-top: 10px;
          color: #fff;
          padding-left: 42px; }
        body .App .services .services-wrapper .services-left .services-btns {
          display: grid;
          grid-template-rows: 100px 100px 100px;
          row-gap: 25px; }
          body .App .services .services-wrapper .services-left .services-btns .services-btn {
            -webkit-border-radius: 17px;
            -moz-border-radius: 17px;
            border-radius: 17px;
            -khtml-border-radius: 17px;
            height: 100px;
            width: 300px;
            background-color: #1d1f1fb0;
            border: 10px solid black;
            outline: 2px solid transparent;
            cursor: pointer;
            border-collapse: separate; }
            @media only screen and (max-width: 780px) {
              body .App .services .services-wrapper .services-left .services-btns .services-btn {
                width: calc(100% - 60px); } }
            body .App .services .services-wrapper .services-left .services-btns .services-btn h4 {
              padding: 20px 0 15px 20px;
              font-size: 18px;
              margin: 0;
              color: #b5bac0f1; }
            body .App .services .services-wrapper .services-left .services-btns .services-btn span {
              padding: 20px 0 0 20px;
              font-size: 16px;
              margin: 10px 0 0 0;
              font-weight: 400;
              color: #8a9097; }
            body .App .services .services-wrapper .services-left .services-btns .services-btn.react-tabs__tab--selected {
              outline: 2px solid #28b98198;
              background-color: #1d1f1f; }
              body .App .services .services-wrapper .services-left .services-btns .services-btn.react-tabs__tab--selected h4 {
                color: #28b981; }
      body .App .services .services-wrapper .services-right {
        padding: 155px 0 0 0; }
        @media only screen and (max-width: 780px) {
          body .App .services .services-wrapper .services-right {
            display: none; } }
        body .App .services .services-wrapper .services-right .services-content {
          width: calc(100% - 30px);
          height: 370px;
          padding-right: 30px; }
          body .App .services .services-wrapper .services-right .services-content .services-content-panel {
            display: none;
            position: relative; }
            body .App .services .services-wrapper .services-right .services-content .services-content-panel.react-tabs__tab-panel--selected {
              height: 100%;
              border: 1px solid #28b981;
              width: 100%;
              border-radius: 17px;
              display: block; }
            body .App .services .services-wrapper .services-right .services-content .services-content-panel h4 {
              color: #b5bac0f1;
              position: absolute;
              top: -40px;
              right: 50px;
              background-color: black;
              padding: 5px 14px;
              font-size: 17px;
              font-weight: 600; }
            body .App .services .services-wrapper .services-right .services-content .services-content-panel p {
              color: #8a9097;
              margin: 0;
              padding: 40px 30px 0 30px;
              font-size: 16px;
              word-spacing: 3px;
              line-height: 36px; }
  body .App .experience {
    padding: 10px 30px 15px 30px;
    min-height: 830px;
    width: calc(100% - 60px);
    background: linear-gradient(to bottom, transprent, black); }
    @media only screen and (max-width: 480px) {
      body .App .experience {
        padding: 10px 0 15px 0;
        width: 100%; } }
    body .App .experience h2 {
      display: block;
      max-width: 1000px;
      height: 130px;
      line-height: 130px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      text-align: left; }
      @media only screen and (max-width: 480px) {
        body .App .experience h2 {
          padding-left: 40px;
          width: calc(100% - 80px); } }
    body .App .experience .experience-box {
      max-width: 1000px;
      height: 550px;
      margin: 10px auto 0 auto;
      -webkit-border-radius: 7px 7px 200px 7px;
      -moz-border-radius: 7px 7px 200px 7px;
      border-radius: 7px 7px 200px 7px;
      -khtml-border-radius: 7px 7px 200px 7px;
      display: grid;
      grid-template-columns: 220px 1fr;
      outline: 2px solid #28b98198;
      background: linear-gradient(to right, #0e1110, black); }
      @media only screen and (max-width: 780px) {
        body .App .experience .experience-box {
          grid-template-rows: auto auto;
          grid-template-columns: 1fr; } }
      body .App .experience .experience-box .experience-box-nav {
        list-style: none; }
        @media only screen and (max-width: 780px) {
          body .App .experience .experience-box .experience-box-nav {
            display: grid;
            grid-template-columns: auto auto auto 1fr;
            padding: 0 30px;
            width: calc( 100% - 60px);
            grid-template-rows: 1fr;
            column-gap: 30px; } }
        body .App .experience .experience-box .experience-box-nav h4 {
          color: #b5bac0f1;
          margin-top: 80px;
          margin-bottom: 50px;
          font-size: 17px; }
          @media only screen and (max-width: 780px) {
            body .App .experience .experience-box .experience-box-nav h4 {
              display: none; } }
        body .App .experience .experience-box .experience-box-nav .experience-btn {
          margin: 30px 0;
          display: grid;
          grid-template-columns: 10px auto;
          column-gap: 25px;
          cursor: pointer; }
          @media only screen and (max-width: 480px) {
            body .App .experience .experience-box .experience-box-nav .experience-btn {
              column-gap: 10px;
              margin: 10px 0; } }
          @media only screen and (max-width: 780px) {
            body .App .experience .experience-box .experience-box-nav .experience-btn {
              margin: 15px 0; } }
          body .App .experience .experience-box .experience-box-nav .experience-btn:hover h5 {
            color: #b5bac0f1; }
          body .App .experience .experience-box .experience-box-nav .experience-btn.react-tabs__tab--selected:hover {
            color: #28b981; }
          body .App .experience .experience-box .experience-box-nav .experience-btn.react-tabs__tab--selected .experience-btn-state {
            background-color: #28b981; }
          body .App .experience .experience-box .experience-box-nav .experience-btn.react-tabs__tab--selected h5 {
            color: #28b981; }
          body .App .experience .experience-box .experience-box-nav .experience-btn .experience-btn-state {
            margin-top: 10px;
            width: 4px;
            height: 4px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            -khtml-border-radius: 100px;
            border: 3px solid #101412;
            outline: 3px solid #28b981; }
          body .App .experience .experience-box .experience-box-nav .experience-btn h5 {
            text-align: left;
            color: #8a9097;
            font-weight: 700;
            font-size: 17px;
            padding: 0;
            margin: 0;
            line-height: 30px; }
            @media only screen and (max-width: 480px) {
              body .App .experience .experience-box .experience-box-nav .experience-btn h5 {
                font-size: 15px; } }
      body .App .experience .experience-box .experience-box-content {
        position: relative; }
        body .App .experience .experience-box .experience-box-content .experience-box-content-box {
          display: block;
          -webkit-border-radius: 200px 7px 200px 7px;
          -moz-border-radius: 200px 7px 200px 7px;
          border-radius: 200px 7px 200px 7px;
          -khtml-border-radius: 200px 7px 200px 7px;
          background: black;
          box-shadow: #00000059 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
          width: calc(100% + 30px);
          height: calc(100% - 30px);
          position: absolute;
          top: 70px;
          z-index: 2;
          outline: 2px solid #28b98198;
          position: relative; }
          @media only screen and (max-width: 780px) {
            body .App .experience .experience-box .experience-box-content .experience-box-content-box {
              width: 100%;
              top: 0;
              min-height: 530px;
              border-radius: 7px 7px 7px 7px; } }
          body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel h5 {
            position: absolute;
            top: -45px;
            right: 120px;
            background-color: black;
            padding: 5px 14px;
            color: #b5bac0f1;
            font-size: 17px;
            font-weight: 600; }
            @media only screen and (max-width: 780px) {
              body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel h5 {
                display: none; } }
          body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel h4 {
            margin: 0;
            padding: 65px 0 0 105px;
            text-align: left;
            font-size: 20px;
            word-spacing: 3px;
            line-height: 36px;
            color: #fff; }
            @media only screen and (max-width: 780px) {
              body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel h4 {
                padding: 40px 0 0 40px; } }
          body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel p {
            margin: 0;
            padding: 30px 60px 80px 105px;
            font-size: 16px;
            word-spacing: 3px;
            line-height: 36px;
            color: #8a9097; }
            body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel p span {
              display: block;
              margin: 13px 0; }
            @media only screen and (max-width: 780px) {
              body .App .experience .experience-box .experience-box-content .experience-box-content-box .experience-box-content-panel p {
                padding: 30px 55px 70px 40px; } }
        body .App .experience .experience-box .experience-box-content .gn-ball-r {
          position: absolute;
          right: -25px;
          bottom: -25px;
          height: 150px;
          width: 150px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          -khtml-border-radius: 100%;
          background: #28b981;
          opacity: 0.8;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
          border: 15px solid #101412;
          outline: 4px solid #28b981;
          z-index: 1; }
          @media only screen and (max-width: 780px) {
            body .App .experience .experience-box .experience-box-content .gn-ball-r {
              display: none; } }
        body .App .experience .experience-box .experience-box-content .curve {
          display: block;
          position: absolute;
          left: -60px;
          top: 20px;
          z-index: 1;
          width: 590px;
          opacity: 0.6; }
          @media only screen and (max-width: 780px) {
            body .App .experience .experience-box .experience-box-content .curve {
              display: none; } }
  body .App .footer {
    height: 100px;
    margin-top: 100px;
    background: black; }
    body .App .footer .footer-wrapper {
      display: grid;
      grid-template-columns: auto 1fr auto 1fr;
      max-width: 230px;
      margin: 0 auto;
      column-gap: 5px; }
      body .App .footer .footer-wrapper span {
        color: #8a9097;
        text-align: left;
        line-height: 100px; }
      body .App .footer .footer-wrapper svg {
        line-height: 100px;
        width: 15px;
        display: block;
        margin: 44px auto 0 auto;
        text-align: center; }
        body .App .footer .footer-wrapper svg:first-of-type {
          color: #db4343; }
      body .App .footer .footer-wrapper img {
        display: block;
        margin: 44px auto 0 auto;
        width: 15px; }
      body .App .footer .footer-wrapper a img {
        margin: 46px auto 0 auto; }
