@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
html { }

body {
  font-family: 'Lato', sans-serif;
  background: #1d1f1f;
  padding: 0;
  margin: 0; }
  body .App .navbar {
    max-width: 1170px;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 50px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px;
    padding: 35px 25px 0 15px; }
    body .App .navbar .nav-title {
      display: block;
      text-decoration: none;
      position: relative; }
      body .App .navbar .nav-title .aka {
        position: absolute;
        top: 45px;
        right: 0;
        font-size: 10px;
        color: #b5bac0; }
      body .App .navbar .nav-title h2 {
        line-height: 50px;
        margin: 0;
        padding: 0;
        font-size: 25px; }
        body .App .navbar .nav-title h2 span:first-of-type {
          font-weight: 600;
          color: #ffffff;
          padding-right: 5px; }
        body .App .navbar .nav-title h2 span:last-of-type {
          font-weight: 500;
          color: #b5bac0; }
    body .App .navbar .nav-btns {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 35px; }
      body .App .navbar .nav-btns a {
        line-height: 50px;
        display: block;
        text-decoration: none;
        color: #b5bac0;
        font-weight: 600;
        font-size: 14px; }
        body .App .navbar .nav-btns a:hover {
          color: #29C7AC; }
        body .App .navbar .nav-btns a:nth-of-type(1).nav-btn--active {
          color: #29C7AC; }
          body .App .navbar .nav-btns a:nth-of-type(1).nav-btn--active span {
            display: none; }
          body .App .navbar .nav-btns a:nth-of-type(1).nav-btn--active::after {
            content: '< About_Me />'; }
        body .App .navbar .nav-btns a:nth-of-type(2).nav-btn--active {
          color: #29C7AC; }
          body .App .navbar .nav-btns a:nth-of-type(2).nav-btn--active span {
            display: none; }
          body .App .navbar .nav-btns a:nth-of-type(2).nav-btn--active::after {
            content: '< Services />'; }
        body .App .navbar .nav-btns a:nth-of-type(3).nav-btn--active {
          color: #29C7AC; }
          body .App .navbar .nav-btns a:nth-of-type(3).nav-btn--active span {
            display: none; }
          body .App .navbar .nav-btns a:nth-of-type(3).nav-btn--active::after {
            content: '< Projects />'; }
  body .App .introduction {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1100px;
    width: calc(100% - 400px);
    margin: 0 auto;
    position: relative; }
    @media only screen and (max-width: 1350px) {
      body .App .introduction {
        grid-template-columns: 1fr;
        width: calc(100% - 40px); } }
    body .App .introduction .introduction-left {
      padding-top: 80px;
      display: grid;
      grid-template-rows: 40px 60px 60px auto 1fr auto; }
      body .App .introduction .introduction-left .tag {
        display: block;
        width: 148px;
        text-align: center;
        background-color: #29C7AC;
        color: #fff;
        padding: 0 6px;
        height: 30px;
        border-radius: 4px;
        line-height: 30px; }
      body .App .introduction .introduction-left h2 {
        margin-top: 10px;
        margin-bottom: 0;
        color: #fff;
        font-size: 33px; }
        body .App .introduction .introduction-left h2:first-of-type {
          margin-top: 25px; }
      body .App .introduction .introduction-left p {
        padding: 10px 0 0 0;
        font-size: 17px;
        max-width: 500px;
        word-spacing: 3px;
        line-height: 36px;
        color: #b5bac0; }
      body .App .introduction .introduction-left a {
        padding: 30px 0 0 0;
        text-decoration: underline;
        color: #29C7AC;
        font-size: 18px;
        text-align: left; }
      body .App .introduction .introduction-left .counter .counter-referrals {
        width: auto;
        height: 200px;
        display: grid;
        grid-template-columns: auto 1fr;
        float: left; }
        body .App .introduction .introduction-left .counter .counter-referrals h4 {
          height: 200px;
          margin: 0;
          padding: 0;
          line-height: 200px;
          font-size: 15px;
          font-weight: 400;
          color: #b5bac0; }
        body .App .introduction .introduction-left .counter .counter-referrals .counter-referrals-number {
          height: 200px;
          display: block;
          line-height: 197px;
          font-size: 15px;
          font-weight: 400;
          padding: 0 0 0 10px;
          color: #fff; }
      body .App .introduction .introduction-left .counter .counter-experience {
        width: auto;
        height: 200px;
        display: grid;
        grid-template-columns: auto 1fr;
        float: left;
        padding-left: 35px; }
        body .App .introduction .introduction-left .counter .counter-experience h4 {
          height: 200px;
          margin: 0;
          padding: 0;
          line-height: 200px;
          font-size: 15px;
          font-weight: 400;
          color: #b5bac0; }
        body .App .introduction .introduction-left .counter .counter-experience .counter-experience-number {
          height: 200px;
          display: block;
          line-height: 197px;
          font-size: 15px;
          font-weight: 400;
          padding: 0 0 0 10px;
          color: #fff; }
    body .App .introduction .introduction-right {
      position: relative;
      transform: scale(0.8); }
      @media only screen and (max-width: 1350px) {
        body .App .introduction .introduction-right {
          display: none; } }
      body .App .introduction .introduction-right .rocket {
        display: block;
        z-index: -1;
        transform: rotate(60deg);
        position: absolute;
        right: 175px;
        top: 95px;
        width: 180px; }
      body .App .introduction .introduction-right .arrow {
        display: block;
        z-index: -1;
        transform: rotate(0deg);
        position: absolute;
        right: -250px;
        bottom: -100px;
        width: 800px;
        height: 450px; }
      body .App .introduction .introduction-right .circle-large {
        z-index: -2;
        position: absolute;
        right: -140px;
        bottom: -35px;
        width: 600px;
        height: 600px;
        border-radius: 100%;
        background: linear-gradient(to right, transparent, #101412);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px; }
      body .App .introduction .introduction-right .circle-small-gn-c {
        position: absolute;
        right: 230px;
        top: 415px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #29C7AC;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-cc {
        position: absolute;
        right: 30px;
        top: 275px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: #29C7AC;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        border: 5px solid #101412;
        outline: 1px solid #29C7AC; }
      body .App .introduction .introduction-right .circle-small-gn-t {
        position: absolute;
        right: -80px;
        top: 80px;
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background: #29C7AC;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-tt {
        position: absolute;
        right: -65px;
        top: 60px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #29C7AC;
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        border: 3px solid #101412;
        outline: 1px solid #29C7AC; }
      body .App .introduction .introduction-right .circle-small-gn-ttt {
        position: absolute;
        right: -40px;
        top: 75px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background: #29c7ad3f;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-b {
        position: absolute;
        right: 495px;
        top: 445px;
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background: #29C7AC;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-bb {
        position: absolute;
        right: 475px;
        top: 425px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background: #29c7ad3f;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      body .App .introduction .introduction-right .circle-small-gn-bbb {
        position: absolute;
        right: 425px;
        top: 475px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #29C7AC;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        border: 3px solid #101412;
        outline: 1px solid #29C7AC; }
      body .App .introduction .introduction-right .circle-small-bk {
        position: absolute;
        right: 470px;
        top: 460px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #1d1f1f;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
        body .App .introduction .introduction-right .circle-small-bk svg {
          display: block;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          color: #d65858;
          font-size: 15px; }
      body .App .introduction .introduction-right .circle-mail {
        position: absolute;
        right: 270px;
        top: 400px;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: #151817;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
        body .App .introduction .introduction-right .circle-mail svg {
          display: block;
          height: 120px;
          line-height: 120px;
          margin: 0 auto;
          color: #48be38;
          font-size: 30px;
          cursor: pointer; }
          body .App .introduction .introduction-right .circle-mail svg:hover {
            color: #46e231; }
      body .App .introduction .introduction-right .circle-linkedin {
        position: absolute;
        right: 50px;
        top: 290px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: #101412;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
        body .App .introduction .introduction-right .circle-linkedin svg {
          display: block;
          height: 150px;
          line-height: 150px;
          margin: 0 auto;
          color: #1964be;
          font-size: 45px;
          cursor: pointer; }
          body .App .introduction .introduction-right .circle-linkedin svg:hover {
            color: #177ffd; }
      body .App .introduction .introduction-right .circle-github {
        position: absolute;
        right: -170px;
        top: 90px;
        width: 190px;
        height: 190px;
        border-radius: 100%;
        background: #0e1110;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
        overflow: hidden; }
        body .App .introduction .introduction-right .circle-github svg {
          display: block;
          height: 190px;
          line-height: 190px;
          margin: 0 auto;
          color: #d7dfe4;
          font-size: 55px;
          cursor: pointer; }
          body .App .introduction .introduction-right .circle-github svg:hover {
            color: #fff; }
    body .App .introduction .mouse-tag {
      width: 28px;
      height: 35px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -17.5px;
      border-radius: 100px;
      background-color: #b5bac0; }
      body .App .introduction .mouse-tag svg {
        display: block;
        font-size: 14px;
        color: #070a0a;
        font-weight: 400;
        padding-left: 1px;
        margin: 10px auto 0 auto;
        line-height: 35px; }
  body .App .about-me {
    min-height: 550px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; }
    body .App .about-me .about-me-left {
      padding-left: 30px; }
      body .App .about-me .about-me-left .img-wrapper {
        display: block;
        margin: 135px auto 0 auto;
        width: 230px;
        height: 230px;
        overflow: hidden;
        border: 15px solid transparent;
        outline: 2px solid #29c7ad3f;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px; }
        body .App .about-me .about-me-left .img-wrapper img {
          display: block;
          height: 230px;
          width: 230px;
          background: transparent;
          border-radius: 7px; }
    body .App .about-me .about-me-right {
      display: grid;
      grid-template-rows: 60px auto auto auto 1fr;
      padding: 60px 0 0 20px;
      row-gap: 20px; }
      body .App .about-me .about-me-right h2 {
        color: #fff; }
      body .App .about-me .about-me-right .about-me-paragraph {
        margin: 0;
        padding: 0;
        font-size: 17px;
        max-width: 550px;
        word-spacing: 3px;
        line-height: 36px;
        color: #b5bac0f1; }
  body .App .teches {
    padding: 10px 0 15px 0;
    min-height: 80px;
    width: 100%; }
    body .App .teches .teches-wrapper {
      display: grid;
      max-width: 1040px;
      width: 100%;
      grid-auto-rows: 60px;
      grid-template-columns: repeat(9, 60px);
      column-gap: 63px;
      margin: 0 auto; }
      body .App .teches .teches-wrapper .tech {
        display: grid;
        grid-template-rows: 55px 20px; }
        body .App .teches .teches-wrapper .tech img {
          margin: 17.5px;
          height: 35px;
          width: 35px; }
        body .App .teches .teches-wrapper .tech span {
          font-size: 11px;
          color: #b5bac0;
          text-align: center;
          font-weight: 400;
          line-height: 26px; }
  body .App .services {
    min-height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    background-color: black; }
    body .App .services .services-wrapper {
      max-width: 1100px;
      width: calc(100% - 400px);
      margin: 0 auto; }
      body .App .services .services-wrapper .services-left {
        display: grid;
        grid-template-rows: 60px auto;
        padding: 60px 0 0 0;
        row-gap: 20px; }
        body .App .services .services-wrapper .services-left h2 {
          color: #fff; }
