.introduction {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 1130px;
  width: calc(100% - 60px);
  margin: 0 auto;
  position: relative;
  padding: 0 30px; }
  @media only screen and (max-width: 1050px) {
    .introduction {
      grid-template-columns: 1fr;
      width: calc(100% - 60px); } }
  .introduction .introduction-left {
    padding-top: 80px;
    display: grid;
    grid-template-rows: 40px 60px 60px auto 1fr auto; }
    @media only screen and (max-width: 1050px) {
      .introduction .introduction-left {
        margin: 0 auto;
        max-width: 1000px; } }
    .introduction .introduction-left .tag {
      display: block;
      width: 148px;
      text-align: center;
      background-color: #28b981;
      color: #fff;
      padding: 0 6px;
      height: 30px;
      border-radius: 4px;
      line-height: 30px; }
    .introduction .introduction-left h2 {
      margin-top: 10px;
      margin-bottom: 0;
      color: #fff;
      font-size: 33px; }
      .introduction .introduction-left h2:first-of-type {
        margin-top: 25px; }
    .introduction .introduction-left p {
      padding: 10px 0 0 0;
      font-size: 16px;
      max-width: 500px;
      word-spacing: 3px;
      line-height: 36px;
      color: #b5bac0; }
      @media only screen and (max-width: 1050px) {
        .introduction .introduction-left p {
          max-width: 800px; } }
    .introduction .introduction-left a {
      padding: 30px 0 0 0;
      text-decoration: underline;
      color: #28b981;
      font-size: 18px;
      text-align: left; }
    .introduction .introduction-left .counter .counter-referrals {
      width: auto;
      height: 200px;
      display: grid;
      grid-template-columns: auto 1fr;
      float: left; }
      .introduction .introduction-left .counter .counter-referrals h4 {
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 200px;
        font-size: 15px;
        font-weight: 400;
        color: #b5bac0; }
      .introduction .introduction-left .counter .counter-referrals .counter-referrals-number {
        height: 200px;
        display: block;
        line-height: 197px;
        font-size: 15px;
        font-weight: 400;
        padding: 0 0 0 10px;
        color: #fff; }
    .introduction .introduction-left .counter .counter-experience {
      width: auto;
      height: 200px;
      display: grid;
      grid-template-columns: auto 1fr;
      float: left;
      padding-left: 35px; }
      .introduction .introduction-left .counter .counter-experience h4 {
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 200px;
        font-size: 15px;
        font-weight: 400;
        color: #b5bac0; }
      .introduction .introduction-left .counter .counter-experience .counter-experience-number {
        height: 200px;
        display: block;
        line-height: 197px;
        font-size: 15px;
        font-weight: 400;
        padding: 0 0 0 10px;
        color: #fff; }
  .introduction .introduction-right {
    position: relative;
    transform: scale(0.8);
    width: 100%; }
    @media only screen and (max-width: 1350px) {
      .introduction .introduction-right {
        transform: scale(0.7);
        margin-right: 200px; } }
    @media only screen and (max-width: 1250px) {
      .introduction .introduction-right {
        margin-right: 400px; } }
    @media only screen and (max-width: 1150px) {
      .introduction .introduction-right {
        margin-right: 500px; } }
    @media only screen and (max-width: 1050px) {
      .introduction .introduction-right {
        display: none; } }
    .introduction .introduction-right .rocket {
      display: block;
      z-index: -1;
      transform: rotate(60deg);
      position: absolute;
      right: 205px;
      top: 95px;
      width: 180px; }
    .introduction .introduction-right .arrow {
      display: block;
      z-index: -1;
      transform: rotate(0deg);
      position: absolute;
      right: -220px;
      bottom: -100px;
      width: 800px;
      height: 450px; }
    .introduction .introduction-right .circle-large {
      z-index: -2;
      position: absolute;
      right: -110px;
      bottom: -35px;
      width: 600px;
      height: 600px;
      border-radius: 100%;
      background: linear-gradient(to right bottom, transparent, #0e1110);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px; }
    .introduction .introduction-right .circle-small-gn-c {
      position: absolute;
      right: 260px;
      top: 415px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #28b981;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
    .introduction .introduction-right .circle-small-gn-cc {
      position: absolute;
      right: 60px;
      top: 275px;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: #28b981;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
      border: 5px solid #101412;
      outline: 1px solid #28b981; }
    .introduction .introduction-right .circle-small-gn-t {
      position: absolute;
      right: -50px;
      top: 80px;
      width: 2px;
      height: 2px;
      border-radius: 100%;
      background: #28b981;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
    .introduction .introduction-right .circle-small-gn-tt {
      position: absolute;
      right: -35px;
      top: 60px;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #28b981;
      opacity: 0.8;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
      border: 3px solid #101412;
      outline: 1px solid #28b981; }
    .introduction .introduction-right .circle-small-gn-ttt {
      position: absolute;
      right: -10px;
      top: 75px;
      width: 3px;
      height: 3px;
      border-radius: 100%;
      background: #28b98198;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
    .introduction .introduction-right .circle-small-gn-b {
      position: absolute;
      right: 525px;
      top: 445px;
      width: 2px;
      height: 2px;
      border-radius: 100%;
      background: #28b981;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
    .introduction .introduction-right .circle-small-gn-bb {
      position: absolute;
      right: 505px;
      top: 425px;
      width: 3px;
      height: 3px;
      border-radius: 100%;
      background: #28b98198;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
    .introduction .introduction-right .circle-small-gn-bbb {
      position: absolute;
      right: 455px;
      top: 475px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #28b981;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
      border: 3px solid #101412;
      outline: 1px solid #28b981; }
    .introduction .introduction-right .circle-small-bk {
      position: absolute;
      right: 500px;
      top: 460px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background: #1d1f1f;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      .introduction .introduction-right .circle-small-bk svg {
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        color: #d65858;
        font-size: 15px; }
    .introduction .introduction-right .circle-mail {
      position: absolute;
      right: 300px;
      top: 400px;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background: #151817;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      .introduction .introduction-right .circle-mail svg {
        display: block;
        height: 120px;
        line-height: 120px;
        margin: 0 auto;
        color: #48be38;
        font-size: 30px;
        cursor: pointer; }
        .introduction .introduction-right .circle-mail svg:hover {
          color: #46e231; }
    .introduction .introduction-right .circle-linkedin {
      position: absolute;
      right: 50px;
      top: 320px;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background: #101412;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px; }
      .introduction .introduction-right .circle-linkedin svg {
        display: block;
        height: 150px;
        line-height: 150px;
        margin: 0 auto;
        color: #1964be;
        font-size: 45px;
        cursor: pointer; }
        .introduction .introduction-right .circle-linkedin svg:hover {
          color: #177ffd; }
    .introduction .introduction-right .circle-github {
      position: absolute;
      right: -140px;
      top: 90px;
      width: 190px;
      height: 190px;
      border-radius: 100%;
      background: #0e1110;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
      overflow: hidden; }
      .introduction .introduction-right .circle-github svg {
        display: block;
        height: 190px;
        line-height: 190px;
        margin: 0 auto;
        color: #d7dfe4;
        font-size: 55px;
        cursor: pointer; }
        .introduction .introduction-right .circle-github svg:hover {
          color: #fff; }
  .introduction .mouse-tag {
    width: 28px;
    height: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -17.5px;
    border-radius: 100px;
    background-color: #b5bac0; }
    .introduction .mouse-tag svg {
      display: block;
      font-size: 14px;
      color: #070a0a;
      font-weight: 400;
      padding-left: 1px;
      margin: 10px auto 0 auto;
      line-height: 35px; }
