.navbar {
  max-width: 1170px;
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 50px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 50px;
  padding: 35px 25px 0 15px; }
  .navbar .nav-title {
    display: block;
    text-decoration: none;
    position: relative; }
    .navbar .nav-title .aka {
      position: absolute;
      top: 45px;
      right: 0;
      font-size: 10px;
      color: #b5bac0; }
    .navbar .nav-title h2 {
      line-height: 50px;
      margin: 0;
      padding: 0;
      font-size: 25px; }
      .navbar .nav-title h2 span:first-of-type {
        font-weight: 600;
        color: #ffffff;
        padding-right: 5px; }
      .navbar .nav-title h2 span:last-of-type {
        font-weight: 500;
        color: #b5bac0; }
  .navbar .nav-btns {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 35px; }
    .navbar .nav-btns a {
      line-height: 50px;
      display: block;
      text-decoration: none;
      color: #b5bac0;
      font-weight: 600;
      font-size: 14px; }
      .navbar .nav-btns a:hover {
        color: #28b981; }
      .navbar .nav-btns a:nth-of-type(1).nav-btn--active {
        color: #28b981; }
        .navbar .nav-btns a:nth-of-type(1).nav-btn--active span {
          display: none; }
        .navbar .nav-btns a:nth-of-type(1).nav-btn--active::after {
          content: '< About_Me />'; }
      .navbar .nav-btns a:nth-of-type(2).nav-btn--active {
        color: #28b981; }
        .navbar .nav-btns a:nth-of-type(2).nav-btn--active span {
          display: none; }
        .navbar .nav-btns a:nth-of-type(2).nav-btn--active::after {
          content: '< Services />'; }
      .navbar .nav-btns a:nth-of-type(3).nav-btn--active {
        color: #28b981; }
        .navbar .nav-btns a:nth-of-type(3).nav-btn--active span {
          display: none; }
        .navbar .nav-btns a:nth-of-type(3).nav-btn--active::after {
          content: '< Projects />'; }
