.services {
  background-color: black;
  display: grid;
  grid-template-rows: auto;
  min-height: 590px !important;
  height: 100% !important;
  overflow: auto; }
  .services .services-wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px; }
    @media only screen and (max-width: 780px) {
      .services .services-wrapper {
        grid-template-columns: 1fr; } }
    .services .services-wrapper .services-left {
      display: grid;
      grid-template-rows: 60px auto;
      padding: 60px 0 0 0;
      row-gap: 20px; }
      .services .services-wrapper .services-left h2 {
        margin-top: 10px;
        color: #fff;
        padding-left: 42px; }
      .services .services-wrapper .services-left .services-btns {
        display: grid;
        grid-template-rows: 100px 100px 100px;
        row-gap: 25px; }
        .services .services-wrapper .services-left .services-btns .services-btn {
          -webkit-border-radius: 17px;
          -moz-border-radius: 17px;
          border-radius: 17px;
          -khtml-border-radius: 17px;
          height: 100px;
          width: 300px;
          background-color: #1d1f1fb0;
          border: 10px solid black;
          outline: 2px solid transparent;
          cursor: pointer;
          border-collapse: separate; }
          @media only screen and (max-width: 780px) {
            .services .services-wrapper .services-left .services-btns .services-btn {
              width: calc(100% - 60px); } }
          .services .services-wrapper .services-left .services-btns .services-btn h4 {
            padding: 20px 0 15px 20px;
            font-size: 18px;
            margin: 0;
            color: #b5bac0f1; }
          .services .services-wrapper .services-left .services-btns .services-btn span {
            padding: 20px 0 0 20px;
            font-size: 16px;
            margin: 10px 0 0 0;
            font-weight: 400;
            color: #8a9097; }
          .services .services-wrapper .services-left .services-btns .services-btn.react-tabs__tab--selected {
            outline: 2px solid #28b98198;
            background-color: #1d1f1f; }
            .services .services-wrapper .services-left .services-btns .services-btn.react-tabs__tab--selected h4 {
              color: #28b981; }
    .services .services-wrapper .services-right {
      padding: 155px 0 0 0; }
      @media only screen and (max-width: 780px) {
        .services .services-wrapper .services-right {
          display: none; } }
      .services .services-wrapper .services-right .services-content {
        width: calc(100% - 30px);
        height: 370px;
        padding-right: 30px; }
        .services .services-wrapper .services-right .services-content .services-content-panel {
          display: none;
          position: relative; }
          .services .services-wrapper .services-right .services-content .services-content-panel.react-tabs__tab-panel--selected {
            height: 100%;
            border: 1px solid #28b981;
            width: 100%;
            border-radius: 17px;
            display: block; }
          .services .services-wrapper .services-right .services-content .services-content-panel h4 {
            color: #b5bac0f1;
            position: absolute;
            top: -40px;
            right: 50px;
            background-color: black;
            padding: 5px 14px;
            font-size: 17px;
            font-weight: 600; }
          .services .services-wrapper .services-right .services-content .services-content-panel p {
            color: #8a9097;
            margin: 0;
            padding: 40px 30px 0 30px;
            font-size: 16px;
            word-spacing: 3px;
            line-height: 36px; }
